  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li>Github</li>
          <li>Support</li>
          <li>Contact</li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootswatch.com">Bootswatch</a></p>      
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-unstyled">
          <li>Made by <a href="#" rel="nofollow">Steven Nguyen</a>. Contact him at <a href="mailto:steven.nguyen194@gmail.com">steven.nguyen194@gmail.com</a>.</li>
          <li>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</li>
          <li>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</li>
        </ul>
        
      </div>
    </div>
  </div>